body {
  font-family: Calibri, sans-serif;
  background-color: rgb(227, 182, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.profile-container {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 10px rgba(0, 0, 0, 0.1);
  width: 34vh;
  text-align: center;
}

.profile-header {
  position: relative;
  height: 180px;
  border-radius: 4px;
}

.profile-photo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 180px;
  border-radius: 4px;
  background-image: url("Michi.JPG");
  background-size: cover;
  background-position: center;
}